
body,
html {
    height: 100%;
    margin: 0;
}
li {
    padding: 12px;
    width:100%;
    color:#fff;
}
.component ul {
    height:100%;
    list-style-type: none;
    font-size: 12px;
    overflow-y: auto;
    color:#ffffff;
}
.component ul li a{
    color:#B9A5A6;
    text-decoration:none;
}
.component > ul {
    width:250px;
    background-color:#3F3436;
    position:relative;
    overflow:visible;
}
.component > ul > li {
    padding: 7px 12px;
}
.component > ul > li:hover {
    background-color:#212529;
}
.component > ul > li > ul {
    z-index: 999;
    display:none;
    position:absolute;
    left:160px;
    top:0;
    width:250px;
    background-color:#444444;
}
.component > ul > li:hover > ul {
    display:block;
    width:600px;
    height: 100%;
    padding: 0px;
    overflow-y: auto;
    overflow-x: no-display;

}
.component > ul > li > ul > li {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color:#ffffff;
    color:#212529;
}

.component > ul > li > ul >li:hover {
    background-color: #B9A5A6;
    color:#444444;
}
.component > ul > li > ul > li >div, .component > ul > li > ul > li >nav{
    position: relative;
    resize: both;
    transform: scale(1, 1);
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;

}
.component > ul > li > ul  {
    display:none;
    position:absolute;
    right:-160px;
    top:0;
    width:160px;
    background-color:#212529;
}
.component > ul > li > ul > li:hover ul {
    display:block;
}
.component > ul > li > ul > li > ul > li:hover {
    background-color:#212529;
}
.component > ul > li > ul > li ul li ul li {
    border-bottom:1px dotted #fff;
    padding:20px;
}
.side-navbar {
    width: 160px;
    height: 100%;
    position: absolute;
    margin-left: -160px;
    background-color: #100901;
    transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff;
}

.editor-wrap {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 160px;
}

#menu-btn {
    background-color: #212529;
    color: #fff;
    margin-left: -42px;
}

.editor-wrap input {
    border-radius: 2rem;
    padding: 2px 20px;
}

.app-wrap {
    height: 100%;
    width: 100%;
    display: flex;
}
.editor-wrap  {
    width: 100%;
    height: 100%;
}
.pages-wrp, .panel-wrp, #panels {
    display: flex;
    flex-direction: column
}
.pages-wrp {
    background: #333;
    padding: 5px;
}
.h-100,
.h-75 {
    min-height: 50% !important;
    max-height: 50% !important;
}


.pi-draggable>p:hover,
.pi-draggable>div:hover,
.pi-draggable>h1:hover,
.pi-draggable>ul:hover,
.pi-draggable>ol:hover,
.pi-draggable>a:hover,
.pi-draggable>hr:hover,
.pi-draggable>.embed-responsive-item:hover {
    opacity: 1;
}

.pi-draggable>.btn:hover,
.pi-draggable>.btn-group:hover,
.pi-draggable>.pi-wrapper:hover,
.pi-draggable>img:hover,
.pi-draggable>.carousel:hover,
.pi-draggable>.embed-responsive:hover,
.pi-draggable>.nav:hover,
.pi-draggable>nav:hover,
.pi-draggable>.breadcrumb:hover,
.pi-draggable>.pagination:hover
{
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.pi-draggable>img,
.pi-draggable>iframe {
    min-height: 222px;
}

.pi-draggable>.pi-wrapper>* {
    width: 100%;
}

.pi-draggable>.carousel-item {
    align-items: center;
}

.pi-draggable>.embed-responsive {
    pointer-events: none;
}

.pi-draggable>.embed-responsive-item {
    pointer-events: all;
}

.pi-draggable>.col-md-12 {
    width: 100%;
    float: left
}

.pi-draggable>.col-md-8 {
    width: 66.6%;
    float: left;
    border: 1px solid #818181;
}

.pi-draggable>.col-md-6 {
    width: 50%;
    float: left;
    border: 1px solid #818181;
}

.pi-draggable>.col-md-4 {
    width: 33.3%;
    float: left;
    border: 1px solid #818181;
}

.pi-draggable>.col-md-3 {
    width: 25%;
    float: left;
    border: 1px solid #818181;
}

.pi-draggable>.col-md-2 {
    width: 16.6%;
    float: left;
    border: 1px solid #818181;
}

[class*=col-]:empty:after {
    content: "Col" !important;
}

[class*=col-]:empty {
    background-color: rgba(0, 0, 0, .1) !important;
}
.pi-draggable * {
    pointer-events: none !important;
}

.pi-draggable {
    padding:10px;
    -moz-user-select:none;
    pointer-events: all !important;
    position: relative;
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
    cursor: grab !important;
}

.pi-draggable:active {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}
