<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{THE_REQUEST} /build/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=302]
    RewriteRule ^((?!build/).*)$ build/$1 [L,NC]
    #RewriteRule ^(.*)$ build/index.php?$1 [L,QSA]

    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteCond %{REQUEST_FILENAME}.php -d
    RewriteCond %{REQUEST_URI} !/$
    RewriteRule ^(.*)$ $1.php [L]
    
</IfModule>
