parameters:
    level: max
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkAdvancedUnionTypes: true
    checkUninitializedProperties: true
    checkExplicitMixed: true
