// Lumen 5.3.1
// Bootswatch


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Mixins

@mixin shadow($width: 4px){
  border-style: solid;
  border-width: 0 1px $width 1px;
}

// Navbar

.navbar {
  @include shadow();

  @each $color, $value in $theme-colors {
	g-#{$color} {
	order-color: shade-color($value, 10%);

  }

  &.bg-body-secondary,
  &.bg-body-tertiary {
	der-color: rgba(0, 0, 0, .1);
  }
}

// Buttons

.btn {
  @include shadow();
  text-transform: uppercase;

  &:not(.disabled):hover {
	gin-top: 1px;
	der-bottom-width: 3px;
  }

  &:not(.disabled):active {
	gin-top: 2px;
	der-bottom-width: 2px;
	clude box-shadow(none);
  }

  @each $color, $value in $theme-colors {
	{$color} {
	:hover,
	:active,
	:focus {
		ound-color: $value;


	,
	:not(.disabled):hover,
	:not(.disabled):active,
	:focus {
		-color: shade-color($value, 10%);


  }
}

.btn-outline-secondary {
  color: var(--bs-tertiary-color);
}

[class*="btn-outline"] {
  border-top-width: 1px;
}

.btn-group-vertical {
  .btn + .btn {
	over {
	argin-top: -1px;
	order-top-width: 1px;


	ctive {
	argin-top: -1px;
	order-top-width: 2px;

  }
}

// Typography

.text-secondary {
  color: $gray-700 !important;
}

.blockquote-footer {
  color: $gray-600;
}

// Forms

.form-control {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, .075);
}

// Navs

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
	der-color: transparent;
  }
}

.nav-tabs {
  .nav-link {
	or: var(--#{$prefix}body-color);


	isabled,
	isabled:hover,
	isabled:focus {
	argin-top: 6px;
	order-color: $nav-tabs-border-color;
	ransition: padding-bottom .2s ease-in-out, margin-top .2s ease-in-out, border-bottom .2s ease-in-out;


	ot(.disabled):hover,
	ot(.disabled):focus,
	ctive {
	adding-bottom: add(.5rem, 6px);
	argin-top: 0;
	olor: var(--#{$prefix}body-color);
	order-bottom-color: transparent;

  }

  &.nav-justified > li {
	tical-align: bottom;
  }
}

.dropdown-menu {
  margin-top: 0;
  @include shadow();
  border-top-width: 1px;
  @include box-shadow(none);
}

.breadcrumb {
  border-color: $pagination-border-color;
  @include shadow();
}

.pagination {
  > li > a,
  > li > span {
	ition: relative;
	: 0;
	t-weight: 700;
	or: $pagination-color;
	t-transform: uppercase;
	clude shadow();

	over,
	ocus {
	op: 1px;
	ext-decoration: none;
	order-bottom-width: 3px;


	ctive {
	op: 2px;
	order-bottom-width: 2px;

  }

  > .disabled > a,
  > .disabled > span {
	over {
	op: 0;
	include shadow();


	ctive {
	op: 0;
	include shadow();

  }
}

.pager {
  > li > a,
  > li > span,
  > .disabled > a,
  > .disabled > span {

	over,
	ctive {
	order-right-width: 2px;
	order-left-width: 2px;

  }
}

// Indicators

.btn-close {
  text-decoration: none;
  opacity: .4;

  &:hover,
  &:focus {
	city: 1;
  }
}

.alert {
  color: $white;
  @include shadow();

  &-primary {
	kground-color: $primary;
	der-color: shade-color($primary, 10%);
  }

  &-secondary {
	kground-color: $secondary;
	der-color: shade-color($secondary, 10%);
  }

  &-success {
	kground-color: $success;
	der-color: shade-color($success, 10%);
  }

  &-info {
	kground-color: $info;
	der-color: shade-color($info, 10%);
  }

  &-danger {
	kground-color: $danger;
	der-color: shade-color($danger, 10%);
  }

  &-warning {
	kground-color: $warning;
	der-color: shade-color($warning, 10%);
  }

  &-dark {
	kground-color: $dark;
	der-color: shade-color($dark, 10%);
  }

  &-light {
	kground-color: $light;
	der-color: shade-color($light, 10%);
  }

  .alert-link {
	t-weight: 400;
	or: $white;
	t-decoration: underline;
  }

  &-secondary,
  &-light {


	ert-link {
	olor: $body-color;

  }
}

.badge {
  &.bg-secondary,
  &.bg-light {
	or: $dark;
  }
}

// Containers

a.list-group-item {
  &-success {
	ctive {
	ackground-color: $success;


	ctive:hover,
	ctive:focus {
	ackground-color: shade-color($success, 10%);

  }

  &-warning {
	ctive {
	ackground-color: $warning;


	ctive:hover,
	ctive:focus {
	ackground-color: shade-color($warning, 10%);

  }

  &-danger {
	ctive {
	ackground-color: $danger;


	ctive:hover,
	ctive:focus {
	ackground-color: shade-color($danger, 10%);

  }
}

.modal,
.toast,
.offcanvas {
  .btn-close {
	kground-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$black}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
  }
}
