// Zephyr 5.3.1
// Bootswatch

$theme: "zephyr" !default;

//
// Color system
//

$white:	f !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:	0 !default;

$blue:	59e6 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:	3384 !default;
$red:	a292e !default;
$orange:  #f8765f !default;
$yellow:  #f4bd61 !default;
$green:   #2fb380 !default;
$teal:	c997 !default;
$cyan:	7bb5 !default;

$primary:	$blue !default;
$secondary:	hite !default;
$success:	$green !default;
$info:		n !default;
$warning:	$yellow !default;
$danger:		default;
$light:		-100 !default;
$dark:		y-900 !default;

$min-contrast-ratio:   1.65 !default;

$enable-shadows:			efault;

// Body

$body-color:				efault;

$headings-color:			00 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:	nter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base:			efault; // Assumes the browser default, typically `16px`
$font-size-sm:				ase * .875 !default;

// Components

$box-shadow:				rgba($black, .05) !default;
$box-shadow-lg:			3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !default;

// Tables

$table-cell-padding-y:		default;
$table-cell-padding-x:		default;
$table-cell-padding-y-sm:	rem !default;
$table-cell-padding-x-sm:	rem !default;

$table-th-font-weight:		efault;

// Buttons + Forms

$input-btn-padding-y:		 !default;
$input-btn-padding-x:		!default;
$input-btn-font-size:		-size-sm !default;

// Buttons

$btn-font-weight:			ault;
$btn-box-shadow:			adow !default;
$btn-focus-box-shadow:		hadow !default;
$btn-active-box-shadow:	$box-shadow !default;

// Forms

$form-label-font-weight:				;

$input-box-shadow:					default;

$input-group-addon-bg:				!default;

// Navs

$nav-link-color:					fault;
$nav-link-hover-color:			olor !default;

$nav-tabs-border-radius:			t;
$nav-tabs-link-active-color:		ry !default;

// Navbar

$navbar-padding-y:				fault;

$navbar-nav-link-padding-x:		m !default;

// Dropdowns

$dropdown-font-size:				m !default;
$dropdown-border-color:			0 !default;
$dropdown-divider-bg:			200 !default;

$dropdown-link-hover-color:		e !default;
$dropdown-link-hover-bg:			!default;

$dropdown-item-padding-y:		em !default;
$dropdown-item-padding-x:		m !default;

// Pagination

$pagination-padding-y:			default;
$pagination-padding-x:			efault;

$pagination-color:				!default;

$pagination-focus-color:			on-color !default;

$pagination-hover-color:			on-color !default;
$pagination-hover-bg:			100 !default;

// Cards
$card-spacer-x:					t;
$card-cap-padding-y:				t;
$card-cap-padding-x:				ult;

// Toasts

$toast-header-color:				lor !default;

// Modals

$modal-content-border-color:		300 !default;
$modal-header-border-width:		fault;

// List group

$list-group-item-padding-y:		!default;
$list-group-item-padding-x:		m !default;

// Breadcrumbs

$breadcrumb-padding-x:			efault;

$breadcrumb-divider:				default;
